
  <%- include("partials/navbar"); -%>
  

      <h1>HOME</h1>
      <p>Tapped out trade wheel drain modern broken Jeskai interrupt topdeck fixing topdeck topdeck shell crack fetch jankey combo meta Johnny board presence Vorthos Golgari board state pop off vanilla pro-green big butt removal chump utility land hoser protection snapcaster Grixis mana hose tutor gas broken fixing 3 drop Mel Mardu ETB mana dork Bob metagame proxy card pool float Blinky shock pop off Mardu jankey combo crack fetch playset moxes mana birds pop multicolor Canadian Threshold reanimator restricted land for turn Orzhov nut draw ramp Bant lethal splash Steve fizzle lethal Grixis mono blue </p>

      
      <% for(let i=0; i<head.length; i++){ %>
        <h1><%= head[i] %></h1>
        <p><%= entry[i] %> <a href=<%="/bass/" + head[i]%>> read more... </a> </p>  
      <%}%>


<%- include("partials/footer"); -%>